@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom breakpoint for extra small screens */
@layer utilities {
  .xs\:flex-row {
    @media (min-width: 475px) {
      flex-direction: row;
    }
  }
  
  .xs\:items-center {
    @media (min-width: 475px) {
      align-items: center;
    }
  }
}

:root {
  --bg: #0b0b0c;
}

html, body, #__next {
  height: 100%;
}

body {
  background: var(--bg);
}


